.Loader_loaderContainer__m46l6 {
    height: 30px;
    position: relative;
    width: 30px
}

.Loader_animationContainer__utkcb {
    animation: Loader_skDoubleBounce__etfla 2s ease-in-out infinite;
    background-color: var(--base, #ff008c);
    border-radius: 50%;
    height: 100%;
    left: 0;
    opacity: .6;
    position: absolute;
    top: 0;
    width: 100%
}

[dir=rtl] .Loader_animationContainer__utkcb {
    left: auto;
    right: 0
}

.Loader_secondFrame__ov6iu {
    animation-delay: -1s
}

@keyframes Loader_skDoubleBounce__etfla {

    0%,
    to {
        transform: scale(0)
    }

    50% {
        transform: scale(1)
    }
}

.FormControl_formControl__yeym4 {
    width: 100%
}

.FormControl_formControl__yeym4:not(:last-child) {
    margin-bottom: 16px
}

.FormControl_formControl__yeym4 .MuiFormLabel-root {
    font-family: var(--font-family, "Suisse Int'l", sans-serif);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 4px;
    margin-left: 12px
}

.FormControl_formControl__yeym4 .MuiFormLabel-root:first-letter {
    text-transform: capitalize
}

.theme--light .FormControl_formControl__yeym4 .MuiFormLabel-root {
    color: var(--fx-gray-800, #7c7c7c)
}

.theme--dark .FormControl_formControl__yeym4 .MuiFormLabel-root {
    color: var(--fx-gray-700, #898989)
}

.FormControl_formControl__yeym4 .MuiFormLabel-root.Mui-error {
    color: var(--fx-red-500, #e62c2c)
}

.FormControl_formControl__yeym4 .MuiFormHelperText-root {
    font-family: var(--font-family, "Suisse Int'l", sans-serif);
    font-size: 12px;
    line-height: 1.33;
    margin: 4px 12px 0
}

.theme--light .FormControl_formControl__yeym4 .MuiFormHelperText-root {
    color: var(--fx-gray-800, #7c7c7c)
}

.theme--dark .FormControl_formControl__yeym4 .MuiFormHelperText-root {
    color: var(--fx-gray-700, #898989)
}

.FormControl_formControl__yeym4 .MuiFormHelperText-root.Mui-error {
    color: var(--fx-red-500, #e62c2c)
}

._icon_3ww11_1 {
    align-items: center;
    color: var(--font-icon-color, inherit);
    display: flex;
    font-size: var(--font-icon-size, 24px);
    justify-content: center
}

._icon_fmb2n_1 {
    cursor: pointer;
    height: 20px;
    -o-object-fit: contain;
    object-fit: contain;
    width: 20px
}

.Link_link__8n0zf {
    color: var(--base, #ff008c);
    font-weight: 500
}

.Link_link__8n0zf:hover {
    color: var(--base-hover, #d60c7b)
}

.Link_link_medium__f9cuf {
    font-size: 14px;
    line-height: 1.71
}

.Link_link_small__8ksf9 {
    font-size: 12px;
    line-height: 1.3
}

.ButtonLoader_buttonLoader__kmmx7 {
    margin: auto;
    text-align: center
}

.ButtonLoader_buttonLoader__dotContainer__odkpf {
    animation-delay: -.32s;
    animation: ButtonLoader_skBounce__8g1gm 1.4s ease-in-out 0s infinite both;
    background-color: currentColor;
    border-radius: 100%;
    display: inline-block;
    height: 9px;
    width: 9px
}

.ButtonLoader_buttonLoader__dotContainer__odkpf:not(:last-child) {
    margin-inline-end: .5rem
}

.ButtonLoader_buttonLoader__dotContainer__odkpf:nth-child(2n) {
    animation-delay: -.16s
}

@keyframes ButtonLoader_skBounce__8g1gm {

    0%,
    80%,
    to {
        transform: scale(0)
    }

    40% {
        transform: scale(1)
    }
}

.Button_button__mzebe.MuiButtonBase-root {
    border-radius: 10px;
    box-shadow: none;
    font-family: var(--font-family, "Suisse Int'l", sans-serif);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 24px;
    padding: 6px 16px;
    text-transform: capitalize
}

.Button_button__mzebe.MuiButtonBase-root.MuiButton-contained {
    background-color: var(--base, #ff008c);
    box-shadow: none;
    color: var(--fx-white, #fff)
}

.Button_button__mzebe.MuiButtonBase-root.MuiButton-contained:hover {
    background-color: var(--base-hover, #d60c7b)
}

.Button_button__mzebe.MuiButtonBase-root.MuiButton-contained:active:not(:disabled):not(.Button_button__mzebe.MuiButtonBase-root.MuiButton-contained.Mui-disabled) {
    background-color: var(--base-focus, #d60c7b)
}

.Button_button__mzebe.MuiButtonBase-root.MuiButton-contained.Mui-disabled,
.Button_button__mzebe.MuiButtonBase-root.MuiButton-contained:disabled {
    transition: none
}

.theme--light .Button_button__mzebe.MuiButtonBase-root.MuiButton-contained.Mui-disabled,
.theme--light .Button_button__mzebe.MuiButtonBase-root.MuiButton-contained:disabled {
    background-color: var(--fx-gray-500, #b8b8b8);
    color: var(--fx-gray-200, #efefef)
}

.theme--dark .Button_button__mzebe.MuiButtonBase-root.MuiButton-contained.Mui-disabled,
.theme--dark .Button_button__mzebe.MuiButtonBase-root.MuiButton-contained:disabled {
    background-color: var(--fx-black-200, #484849);
    color: var(--fx-gray-700, #898989)
}

.Button_button__mzebe.MuiButtonBase-root.MuiButton-outlined {
    background-color: transparent;
    border: 1px solid var(--base, #ff008c);
    color: var(--base, #ff008c)
}

@media (hover:hover) {
    .Button_button__mzebe.MuiButtonBase-root.MuiButton-outlined:hover {
        background-color: var(--base-hover, #d60c7b);
        border-color: var(--base-hover, #d60c7b);
        color: var(--fx-white, #fff)
    }
}

.Button_button__mzebe.MuiButtonBase-root.MuiButton-outlined:active:not(:disabled):not(.Button_button__mzebe.MuiButtonBase-root.MuiButton-outlined.Mui-disabled) {
    background-color: var(--base-focus, #d60c7b);
    border-color: var(--base-focus, #d60c7b);
    color: var(--fx-white, #fff)
}

.theme--light .Button_button__mzebe.MuiButtonBase-root.MuiButton-outlined.Mui-disabled,
.theme--light .Button_button__mzebe.MuiButtonBase-root.MuiButton-outlined:disabled {
    border-color: var(--fx-gray-500, #b8b8b8);
    color: var(--fx-gray-500, #b8b8b8)
}

.theme--dark .Button_button__mzebe.MuiButtonBase-root.MuiButton-outlined.Mui-disabled,
.theme--dark .Button_button__mzebe.MuiButtonBase-root.MuiButton-outlined:disabled {
    border-color: var(--fx-black-200, #484849);
    color: var(--fx-black-200, #484849)
}

.Button_button__mzebe.MuiButtonBase-root.Button_cancel__n5bv5 {
    background-color: transparent;
    border-style: solid;
    border-width: 1px
}

.theme--light .Button_button__mzebe.MuiButtonBase-root.Button_cancel__n5bv5 {
    border-color: var(--fx-gray-500, #b8b8b8);
    color: var(--fx-black-600, #262626)
}

@media (hover:hover) {
    .theme--light .Button_button__mzebe.MuiButtonBase-root.Button_cancel__n5bv5:hover {
        background-color: var(--fx-gray-500, #b8b8b8);
        color: var(--fx-white, #fff)
    }
}

.theme--light .Button_button__mzebe.MuiButtonBase-root.Button_cancel__n5bv5:active:not(:disabled):not(.theme--light .Button_button__mzebe.MuiButtonBase-root.Button_cancel__n5bv5.Mui-disabled) {
    background-color: var(--fx-gray-700, #898989);
    color: var(--fx-gray-200, #efefef)
}

.theme--dark .Button_button__mzebe.MuiButtonBase-root.Button_cancel__n5bv5 {
    border-color: var(--fx-black-200, #484849);
    color: var(--fx-gray-200, #efefef)
}

@media (hover:hover) {
    .theme--dark .Button_button__mzebe.MuiButtonBase-root.Button_cancel__n5bv5:hover {
        background-color: var(--fx-black-200, #484849);
        color: var(--fx-white, #fff)
    }
}

.theme--dark .Button_button__mzebe.MuiButtonBase-root.Button_cancel__n5bv5:active:not(:disabled):not(.theme--dark .Button_button__mzebe.MuiButtonBase-root.Button_cancel__n5bv5.Mui-disabled) {
    background-color: var(--fx-black-400, #323232);
    color: var(--fx-gray-200, #efefef)
}

.Button_button__mzebe.MuiButtonBase-root.MuiButton-sizeMedium {
    padding: 10px 16px
}

.Button_button__mzebe.MuiButtonBase-root.MuiButton-sizeMedium.MuiButton-text {
    font-size: 14px
}

.Button_button__mzebe.MuiButtonBase-root.MuiButton-text {
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: var(--base, #ff008c);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    min-width: auto;
    padding: 2px 6px;
    text-decoration: none;
    text-transform: capitalize
}

.Button_button__mzebe.MuiButtonBase-root.MuiButton-text:focus,
.Button_button__mzebe.MuiButtonBase-root.MuiButton-text:focus-visible,
.Button_button__mzebe.MuiButtonBase-root.MuiButton-text:hover {
    text-decoration: underline
}

.Button_button__mzebe.MuiButtonBase-root.MuiButton-text:hover {
    color: var(--base-hover, #d60c7b)
}

.Button_button__mzebe.MuiButtonBase-root.MuiButton-text:focus,
.Button_button__mzebe.MuiButtonBase-root.MuiButton-text:focus-visible {
    color: var(--base-focus, #d60c7b)
}

.Button_button__mzebe.MuiButtonBase-root.MuiButton-text.Mui-disabled,
.Button_button__mzebe.MuiButtonBase-root.MuiButton-text:disabled {
    color: var(--fx-gray-500, #b8b8b8);
    text-decoration: none
}

.Button_button__mzebe.MuiButtonBase-root .MuiButton-endIcon>:first-of-type,
.Button_button__mzebe.MuiButtonBase-root .MuiButton-startIcon>:first-of-type {
    font-size: 24px
}

.Button_button__mzebe.MuiButtonBase-root.Button_icon__3o2i8 {
    max-width: 36px;
    min-width: 36px;
    padding: 6px
}

.Button_button__mzebe.MuiButtonBase-root.Button_icon__3o2i8.MuiButton-sizeMedium {
    padding: 6px
}

.theme--light .Button_button__mzebe.MuiButtonBase-root.Button_icon__3o2i8 {
    border-color: var(--fx-gray-500, #b8b8b8);
    color: var(--fx-black-600, #262626)
}

.theme--light .Button_button__mzebe.MuiButtonBase-root.Button_icon__3o2i8 path {
    fill: var(--fx-black-600, #262626)
}

.theme--light .Button_button__mzebe.MuiButtonBase-root.Button_icon__3o2i8:hover:not(:disabled):not(.theme--light .Button_button__mzebe.MuiButtonBase-root.Button_icon__3o2i8.Mui-disabled) {
    background-color: var(--fx-gray-500, #b8b8b8);
    color: var(--fx-white, #fff)
}

.theme--light .Button_button__mzebe.MuiButtonBase-root.Button_icon__3o2i8:active:not(:disabled):not(.theme--light .Button_button__mzebe.MuiButtonBase-root.Button_icon__3o2i8.Mui-disabled) {
    background-color: var(--fx-gray-700, #898989);
    color: var(--fx-gray-200, #efefef)
}

.theme--light .Button_button__mzebe.MuiButtonBase-root.Button_icon__3o2i8.Mui-disabled,
.theme--light .Button_button__mzebe.MuiButtonBase-root.Button_icon__3o2i8:disabled {
    background-color: transparent;
    border-color: var(--fx-gray-500, #b8b8b8);
    color: var(--fx-gray-500, #b8b8b8)
}

.theme--light .Button_button__mzebe.MuiButtonBase-root.Button_icon__3o2i8.Mui-disabled path,
.theme--light .Button_button__mzebe.MuiButtonBase-root.Button_icon__3o2i8:disabled path {
    fill: var(--fx-gray-500, #b8b8b8)
}

.theme--dark .Button_button__mzebe.MuiButtonBase-root.Button_icon__3o2i8 {
    border-color: var(--fx-black-200, #484849);
    color: var(--fx-gray-200, #efefef)
}

.theme--dark .Button_button__mzebe.MuiButtonBase-root.Button_icon__3o2i8 path {
    fill: var(--fx-gray-200, #efefef)
}

.theme--dark .Button_button__mzebe.MuiButtonBase-root.Button_icon__3o2i8:hover:not(:disabled):not(.theme--dark .Button_button__mzebe.MuiButtonBase-root.Button_icon__3o2i8.Mui-disabled) {
    background-color: var(--fx-black-200, #484849);
    color: var(--fx-white, #fff)
}

.theme--dark .Button_button__mzebe.MuiButtonBase-root.Button_icon__3o2i8:active:not(:disabled):not(.theme--dark .Button_button__mzebe.MuiButtonBase-root.Button_icon__3o2i8.Mui-disabled) {
    background-color: var(--fx-gray-400, #cfcfcf);
    color: var(--fx-gray-200, #efefef)
}

.theme--dark .Button_button__mzebe.MuiButtonBase-root.Button_icon__3o2i8.Mui-disabled,
.theme--dark .Button_button__mzebe.MuiButtonBase-root.Button_icon__3o2i8:disabled {
    background-color: transparent;
    border-color: var(--fx-black-200, #484849);
    color: var(--fx-black-200, #484849)
}

.theme--dark .Button_button__mzebe.MuiButtonBase-root.Button_icon__3o2i8.Mui-disabled path,
.theme--dark .Button_button__mzebe.MuiButtonBase-root.Button_icon__3o2i8:disabled path {
    fill: var(--fx-black-200, #484849)
}

.Button_button_processing__ol7wf.MuiButtonBase-root {
    cursor: not-allowed
}

.Input_input__5tg6d {
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    font-weight: 400;
    gap: 8px;
    justify-content: flex-start;
    min-height: 44px;
    padding: 10px 12px;
    width: 100%
}

.theme--light .Input_input__5tg6d {
    background-color: var(--fx-gray-100, #f8f8f8);
    color: var(--fx-gray-500, #b8b8b8)
}

.theme--dark .Input_input__5tg6d {
    background-color: var(--fx-black-650, #202020);
    color: var(--fx-black-200, #484849)
}

.Input_input__5tg6d input:-webkit-autofill {
    -webkit-background-clip: text;
    -webkit-transition: background-color 999999s ease-in-out 0s, color 999999s ease-in-out 0s;
    transition: background-color 999999s ease-in-out 0s, color 999999s ease-in-out 0s
}

.theme--light .Input_input__5tg6d input:-webkit-autofill {
    -webkit-text-fill-color: var(--fx-black-600, #262626)
}

.theme--dark .Input_input__5tg6d input:-webkit-autofill {
    -webkit-text-fill-color: var(--fx-gray-200, #efefef)
}

.Input_input__5tg6d.MuiInputBase-root {
    font-size: 14px;
    line-height: 24px
}

.Input_input__5tg6d.MuiInputBase-root .MuiInputBase-input {
    font-family: var(--font-family, "Suisse Int'l", sans-serif);
    font-size: 14px;
    font-weight: 400;
    height: 24px;
    line-height: 24px;
    padding: 0
}

.theme--light .Input_input__5tg6d.MuiInputBase-root .MuiInputBase-input {
    color: var(--fx-black-600, #262626)
}

.theme--dark .Input_input__5tg6d.MuiInputBase-root .MuiInputBase-input {
    color: var(--fx-gray-200, #efefef)
}

.Input_input__5tg6d.MuiInputBase-root .MuiInputBase-input::-moz-placeholder {
    opacity: 1
}

.Input_input__5tg6d.MuiInputBase-root .MuiInputBase-input::placeholder {
    opacity: 1
}

.theme--light .Input_input__5tg6d.MuiInputBase-root .MuiInputBase-input::-moz-placeholder {
    color: var(--fx-gray-500, #b8b8b8)
}

.theme--light .Input_input__5tg6d.MuiInputBase-root .MuiInputBase-input::placeholder {
    color: var(--fx-gray-500, #b8b8b8)
}

.theme--dark .Input_input__5tg6d.MuiInputBase-root .MuiInputBase-input::-moz-placeholder {
    color: var(--fx-black-200, #484849)
}

.theme--dark .Input_input__5tg6d.MuiInputBase-root .MuiInputBase-input::placeholder {
    color: var(--fx-black-200, #484849)
}

.theme--light .Input_input__5tg6d.MuiInputBase-root .MuiInputBase-input.Mui-disabled {
    color: var(--fx-gray-500, #b8b8b8);
    -webkit-text-fill-color: inherit
}

.theme--dark .Input_input__5tg6d.MuiInputBase-root .MuiInputBase-input.Mui-disabled {
    color: var(--fx-black-200, #484849);
    -webkit-text-fill-color: inherit
}

.Input_input__5tg6d.MuiInputBase-root .MuiOutlinedInput-notchedOutline {
    border-width: 1px
}

.theme--light .Input_input__5tg6d.MuiInputBase-root .MuiOutlinedInput-notchedOutline {
    border-color: var(--fx-gray-200, #efefef)
}

.theme--dark .Input_input__5tg6d.MuiInputBase-root .MuiOutlinedInput-notchedOutline {
    border-color: var(--fx-black-600, #262626)
}

.Input_input__5tg6d.MuiInputBase-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--base-focus, #d60c7b)
}

.theme--light .Input_input__5tg6d.MuiInputBase-root.Mui-disabled {
    background-color: var(--fx-gray-200, #efefef)
}

.theme--dark .Input_input__5tg6d.MuiInputBase-root.Mui-disabled {
    background-color: var(--fx-black-600, #262626)
}

.Input_input__5tg6d.MuiInputBase-root:hover:not(.Mui-disabled)>.MuiOutlinedInput-notchedOutline {
    border-color: var(--base-hover, #d60c7b)
}

.Input_input__5tg6d.MuiInputBase-root.Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: var(--fx-red-500, #e62c2c)
}

/*! 
 * OverlayScrollbars
 * Version: 2.8.3
 * 
 * Copyright (c) Rene Haas | KingSora.
 * https://github.com/KingSora
 * 
 * Released under the MIT license.
 */
.os-size-observer,
.os-size-observer-listener {
    box-sizing: border-box;
    direction: inherit;
    overflow: hidden;
    pointer-events: none;
    scroll-behavior: auto !important;
    visibility: hidden
}

.os-size-observer,
.os-size-observer-listener,
.os-size-observer-listener-item,
.os-size-observer-listener-item-final {
    left: 0;
    position: absolute;
    top: 0;
    writing-mode: horizontal-tb
}

.os-size-observer {
    border: inherit;
    bottom: 0;
    box-sizing: inherit;
    contain: strict;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    left: 0;
    margin: -133px;
    padding: inherit;
    right: 0;
    top: 0;
    transform: scale(.1);
    z-index: -1
}

.os-size-observer:before {
    box-sizing: inherit;
    content: "";
    flex: none;
    height: 10px;
    padding: 10px;
    width: 10px
}

.os-size-observer-appear {
    animation: os-size-observer-appear-animation 1ms forwards
}

.os-size-observer-listener {
    border: inherit;
    box-sizing: border-box;
    flex: auto;
    margin: -133px;
    padding: inherit;
    position: relative;
    transform: scale(10)
}

.os-size-observer-listener.ltr {
    margin-left: 0;
    margin-right: -266px
}

.os-size-observer-listener.rtl {
    margin-left: -266px;
    margin-right: 0
}

.os-size-observer-listener:empty:before {
    content: "";
    height: 100%;
    width: 100%
}

.os-size-observer-listener:empty:before,
.os-size-observer-listener>.os-size-observer-listener-item {
    border: inherit;
    box-sizing: content-box;
    display: block;
    flex: auto;
    padding: inherit;
    position: relative
}

.os-size-observer-listener-scroll {
    box-sizing: border-box;
    display: flex
}

.os-size-observer-listener-item {
    bottom: 0;
    direction: ltr;
    flex: none;
    overflow: hidden;
    right: 0
}

.os-size-observer-listener-item-final {
    transition: none
}

@keyframes os-size-observer-appear-animation {
    0% {
        cursor: auto
    }

    to {
        cursor: none
    }
}

.os-trinsic-observer {
    border: none;
    box-sizing: border-box;
    contain: strict;
    flex: none;
    height: 0;
    margin: 0;
    max-height: 1px;
    max-width: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: calc(100% + 1px);
    z-index: -1
}

.os-trinsic-observer:not(:empty) {
    height: calc(100% + 1px);
    top: -1px
}

.os-trinsic-observer:not(:empty)>.os-size-observer {
    height: 1000%;
    min-height: 1px;
    min-width: 1px;
    width: 1000%
}

[data-overlayscrollbars-initialize],
[data-overlayscrollbars-viewport~=scrollbarHidden] {
    scrollbar-width: none !important
}

[data-overlayscrollbars-initialize]::-webkit-scrollbar,
[data-overlayscrollbars-initialize]::-webkit-scrollbar-corner,
[data-overlayscrollbars-viewport~=scrollbarHidden]::-webkit-scrollbar,
[data-overlayscrollbars-viewport~=scrollbarHidden]::-webkit-scrollbar-corner {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    display: none !important;
    height: 0 !important;
    width: 0 !important
}

[data-overlayscrollbars-initialize]:not([data-overlayscrollbars]):not(html):not(body) {
    overflow: auto
}

html[data-overlayscrollbars-body] {
    overflow: hidden
}

html[data-overlayscrollbars-body],
html[data-overlayscrollbars-body]>body {
    height: 100%;
    margin: 0;
    width: 100%
}

html[data-overlayscrollbars-body]>body {
    margin: 0;
    overflow: visible
}

[data-overlayscrollbars] {
    position: relative
}

[data-overlayscrollbars-padding],
[data-overlayscrollbars~=host] {
    align-items: stretch !important;
    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    scroll-behavior: auto !important
}

[data-overlayscrollbars-padding],
[data-overlayscrollbars-viewport]:not([data-overlayscrollbars]) {
    border: none;
    box-sizing: inherit;
    flex: auto !important;
    height: auto;
    margin: 0;
    min-width: 0;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 0
}

[data-overlayscrollbars-viewport]:not([data-overlayscrollbars]) {
    --os-vaw: 0;
    --os-vah: 0;
    outline: none
}

[data-overlayscrollbars-viewport]:not([data-overlayscrollbars]):focus {
    outline: none
}

[data-overlayscrollbars-viewport][data-overlayscrollbars-viewport~=arrange]:before {
    content: "";
    height: var(--os-vah);
    min-height: 1px;
    min-width: 1px;
    pointer-events: none;
    position: absolute;
    width: var(--os-vaw);
    z-index: -1
}

[data-overlayscrollbars-padding],
[data-overlayscrollbars-viewport],
[data-overlayscrollbars] {
    overflow: hidden !important
}

[data-overlayscrollbars-padding~=noClipping],
[data-overlayscrollbars~=noClipping] {
    overflow: visible !important
}

[data-overlayscrollbars-viewport~=measuring] {
    overflow: hidden !important;
    scroll-behavior: auto !important;
    scroll-snap-type: none !important
}

[data-overlayscrollbars-viewport~=overflowXVisible]:not([data-overlayscrollbars-viewport~=measuring]) {
    overflow-x: visible !important
}

[data-overlayscrollbars-viewport~=overflowXHidden] {
    overflow-x: hidden !important
}

[data-overlayscrollbars-viewport~=overflowXScroll] {
    overflow-x: scroll !important
}

[data-overlayscrollbars-viewport~=overflowYVisible]:not([data-overlayscrollbars-viewport~=measuring]) {
    overflow-y: visible !important
}

[data-overlayscrollbars-viewport~=overflowYHidden] {
    overflow-y: hidden !important
}

[data-overlayscrollbars-viewport~=overflowYScroll] {
    overflow-y: scroll !important
}

[data-overlayscrollbars-viewport~=noContent]:not(#osFakeId) {
    font-size: 0 !important;
    line-height: 0 !important
}

[data-overlayscrollbars-viewport~=noContent]:not(#osFakeId):after,
[data-overlayscrollbars-viewport~=noContent]:not(#osFakeId):before,
[data-overlayscrollbars-viewport~=noContent]:not(#osFakeId)>* {
    display: none !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    clip: rect(0, 0, 0, 0) !important;
    border-width: 0 !important;
    white-space: nowrap !important
}

[data-overlayscrollbars-viewport~=scrollbarPressed] {
    scroll-behavior: auto !important;
    scroll-snap-type: none !important
}

[data-overlayscrollbars-content] {
    box-sizing: inherit
}

[data-overlayscrollbars-contents]:not(#osFakeId):not([data-overlayscrollbars-padding]):not([data-overlayscrollbars-viewport]):not([data-overlayscrollbars-content]) {
    display: contents
}

[data-overlayscrollbars-grid],
[data-overlayscrollbars-grid] [data-overlayscrollbars-padding] {
    display: grid;
    grid-template: 1fr/1fr
}

[data-overlayscrollbars-grid]>[data-overlayscrollbars-padding],
[data-overlayscrollbars-grid]>[data-overlayscrollbars-padding]>[data-overlayscrollbars-viewport],
[data-overlayscrollbars-grid]>[data-overlayscrollbars-viewport] {
    height: auto !important;
    width: auto !important
}

.os-scrollbar {
    contain: size layout;
    contain: size layout style;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: opacity .15s, visibility .15s, top .15s, right .15s, bottom .15s, left .15s;
    visibility: hidden
}

body>.os-scrollbar {
    position: fixed;
    z-index: 99999
}

.os-scrollbar-transitionless {
    transition: none
}

.os-scrollbar-track {
    border: none !important;
    padding: 0 !important;
    position: relative
}

.os-scrollbar-handle {
    position: absolute
}

.os-scrollbar-handle,
.os-scrollbar-track {
    height: 100%;
    pointer-events: none;
    width: 100%
}

.os-scrollbar.os-scrollbar-handle-interactive .os-scrollbar-handle,
.os-scrollbar.os-scrollbar-track-interactive .os-scrollbar-track {
    pointer-events: auto;
    touch-action: none
}

.os-scrollbar-horizontal {
    bottom: 0;
    left: 0
}

.os-scrollbar-vertical {
    right: 0;
    top: 0
}

.os-scrollbar-rtl.os-scrollbar-horizontal {
    right: 0
}

.os-scrollbar-rtl.os-scrollbar-vertical {
    left: 0;
    right: auto
}

.os-scrollbar-visible {
    opacity: 1;
    visibility: visible
}

.os-scrollbar-auto-hide.os-scrollbar-auto-hide-hidden {
    opacity: 0;
    visibility: hidden
}

.os-scrollbar-interaction.os-scrollbar-visible {
    opacity: 1;
    visibility: visible
}

.os-scrollbar-unusable,
.os-scrollbar-unusable *,
.os-scrollbar-wheel,
.os-scrollbar-wheel * {
    pointer-events: none !important
}

.os-scrollbar-unusable .os-scrollbar-handle {
    opacity: 0 !important;
    transition: none !important
}

.os-scrollbar-horizontal .os-scrollbar-handle {
    bottom: 0;
    left: 0
}

.os-scrollbar-vertical .os-scrollbar-handle {
    right: 0;
    top: 0
}

.os-scrollbar-rtl.os-scrollbar-horizontal .os-scrollbar-handle,
.os-scrollbar-rtl.os-scrollbar-vertical .os-scrollbar-handle {
    left: 0;
    right: auto
}

.os-scrollbar.os-scrollbar-horizontal.os-scrollbar-cornerless,
.os-scrollbar.os-scrollbar-horizontal.os-scrollbar-cornerless.os-scrollbar-rtl {
    left: 0;
    right: 0
}

.os-scrollbar.os-scrollbar-vertical.os-scrollbar-cornerless,
.os-scrollbar.os-scrollbar-vertical.os-scrollbar-cornerless.os-scrollbar-rtl {
    bottom: 0;
    top: 0
}

@media print {
    .os-scrollbar {
        display: none
    }
}

.os-scrollbar {
    --os-size: 0;
    --os-padding-perpendicular: 0;
    --os-padding-axis: 0;
    --os-track-border-radius: 0;
    --os-track-bg: none;
    --os-track-bg-hover: none;
    --os-track-bg-active: none;
    --os-track-border: none;
    --os-track-border-hover: none;
    --os-track-border-active: none;
    --os-handle-border-radius: 0;
    --os-handle-bg: none;
    --os-handle-bg-hover: none;
    --os-handle-bg-active: none;
    --os-handle-border: none;
    --os-handle-border-hover: none;
    --os-handle-border-active: none;
    --os-handle-min-size: 33px;
    --os-handle-max-size: none;
    --os-handle-perpendicular-size: 100%;
    --os-handle-perpendicular-size-hover: 100%;
    --os-handle-perpendicular-size-active: 100%;
    --os-handle-interactive-area-offset: 0
}

.os-scrollbar .os-scrollbar-track {
    background: var(--os-track-bg);
    border: var(--os-track-border);
    border-radius: var(--os-track-border-radius);
    transition: opacity .15s, background-color .15s, border-color .15s
}

.os-scrollbar .os-scrollbar-track:hover {
    background: var(--os-track-bg-hover);
    border: var(--os-track-border-hover)
}

.os-scrollbar .os-scrollbar-track:active {
    background: var(--os-track-bg-active);
    border: var(--os-track-border-active)
}

.os-scrollbar .os-scrollbar-handle {
    background: var(--os-handle-bg);
    border: var(--os-handle-border);
    border-radius: var(--os-handle-border-radius)
}

.os-scrollbar .os-scrollbar-handle:before {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.os-scrollbar .os-scrollbar-handle:hover {
    background: var(--os-handle-bg-hover);
    border: var(--os-handle-border-hover)
}

.os-scrollbar .os-scrollbar-handle:active {
    background: var(--os-handle-bg-active);
    border: var(--os-handle-border-active)
}

.os-scrollbar-horizontal {
    height: var(--os-size);
    padding: var(--os-padding-perpendicular) var(--os-padding-axis);
    right: var(--os-size)
}

.os-scrollbar-horizontal.os-scrollbar-rtl {
    left: var(--os-size);
    right: 0
}

.os-scrollbar-horizontal .os-scrollbar-handle {
    height: var(--os-handle-perpendicular-size);
    max-width: var(--os-handle-max-size);
    min-width: var(--os-handle-min-size);
    transition: opacity .15s, background-color .15s, border-color .15s, height .15s
}

.os-scrollbar-horizontal .os-scrollbar-handle:before {
    bottom: calc(var(--os-padding-perpendicular)*-1);
    top: calc((var(--os-padding-perpendicular) + var(--os-handle-interactive-area-offset))*-1)
}

.os-scrollbar-horizontal:hover .os-scrollbar-handle {
    height: var(--os-handle-perpendicular-size-hover)
}

.os-scrollbar-horizontal:active .os-scrollbar-handle {
    height: var(--os-handle-perpendicular-size-active)
}

.os-scrollbar-vertical {
    bottom: var(--os-size);
    padding: var(--os-padding-axis) var(--os-padding-perpendicular);
    width: var(--os-size)
}

.os-scrollbar-vertical .os-scrollbar-handle {
    max-height: var(--os-handle-max-size);
    min-height: var(--os-handle-min-size);
    transition: opacity .15s, background-color .15s, border-color .15s, width .15s;
    width: var(--os-handle-perpendicular-size)
}

.os-scrollbar-vertical .os-scrollbar-handle:before {
    left: calc((var(--os-padding-perpendicular) + var(--os-handle-interactive-area-offset))*-1);
    right: calc(var(--os-padding-perpendicular)*-1)
}

.os-scrollbar-vertical.os-scrollbar-rtl .os-scrollbar-handle:before {
    left: calc(var(--os-padding-perpendicular)*-1);
    right: calc((var(--os-padding-perpendicular) + var(--os-handle-interactive-area-offset))*-1)
}

.os-scrollbar-vertical:hover .os-scrollbar-handle {
    width: var(--os-handle-perpendicular-size-hover)
}

.os-scrollbar-vertical:active .os-scrollbar-handle {
    width: var(--os-handle-perpendicular-size-active)
}

.os-theme-none.os-scrollbar,
[data-overlayscrollbars-viewport~=measuring]>.os-scrollbar {
    display: none !important
}

.os-theme-dark,
.os-theme-light {
    box-sizing: border-box;
    --os-size: 10px;
    --os-padding-perpendicular: 2px;
    --os-padding-axis: 2px;
    --os-track-border-radius: 10px;
    --os-handle-interactive-area-offset: 4px;
    --os-handle-border-radius: 10px
}

.os-theme-dark {
    --os-handle-bg: rgba(0, 0, 0, .44);
    --os-handle-bg-hover: rgba(0, 0, 0, .55);
    --os-handle-bg-active: rgba(0, 0, 0, .66)
}

.os-theme-light {
    --os-handle-bg: hsla(0, 0%, 100%, .44);
    --os-handle-bg-hover: hsla(0, 0%, 100%, .55);
    --os-handle-bg-active: hsla(0, 0%, 100%, .66)
}

.os-theme-light-medium.os-scrollbar {
    --os-track-bg: var(--fx-gray-100, #f8f8f8);
    --os-track-bg-hover: var(--fx-gray-100, #f8f8f8);
    --os-track-bg-active: var(--fx-gray-100, #f8f8f8);
    --os-handle-bg: var(--fx-gray-500, #b8b8b8);
    --os-handle-bg-hover: var(--fx-gray-500, #b8b8b8);
    --os-handle-bg-active: var(--fx-gray-500, #b8b8b8);
    --os-size: 6px;
    --os-handle-border-radius: 3px
}

@media only screen and (max-width:576px) {
    .os-theme-light-medium.os-scrollbar {
        --os-size: 2px;
        --os-handle-border-radius: 1px
    }
}

.os-theme-dark-medium.os-scrollbar {
    --os-track-bg: var(--fx-black-650, #202020);
    --os-track-bg-hover: var(--fx-black-650, #202020);
    --os-track-bg-active: var(--fx-black-650, #202020);
    --os-handle-bg: var(--fx-black-200, #484849);
    --os-handle-bg-hover: var(--fx-black-200, #484849);
    --os-handle-bg-active: var(--fx-black-200, #484849);
    --os-size: 6px;
    --os-handle-border-radius: 3px
}

@media only screen and (max-width:576px) {
    .os-theme-dark-medium.os-scrollbar {
        --os-size: 2px;
        --os-handle-border-radius: 1px
    }
}

.os-theme-light-small.os-scrollbar {
    --os-size: 2px;
    --os-handle-border-radius: 1px;
    --os-track-bg: var(--fx-gray-100, #f8f8f8);
    --os-track-bg-hover: var(--fx-gray-100, #f8f8f8);
    --os-track-bg-active: var(--fx-gray-100, #f8f8f8);
    --os-handle-bg: var(--fx-gray-500, #b8b8b8);
    --os-handle-bg-hover: var(--fx-gray-500, #b8b8b8);
    --os-handle-bg-active: var(--fx-gray-500, #b8b8b8)
}

.os-theme-dark-small.os-scrollbar {
    --os-size: 2px;
    --os-handle-border-radius: 1px;
    --os-track-bg: var(--fx-black-650, #202020);
    --os-track-bg-hover: var(--fx-black-650, #202020);
    --os-track-bg-active: var(--fx-black-650, #202020);
    --os-handle-bg: var(--fx-black-200, #484849);
    --os-handle-bg-hover: var(--fx-black-200, #484849);
    --os-handle-bg-active: var(--fx-black-200, #484849)
}

[data-overlayscrollbars~=host] {
    width: 100%
}

.Heading_heading__b0gwg {
    font-family: var(--font-family, "Suisse Int'l", sans-serif);
    margin-bottom: 8px
}

.Heading_heading__b0gwg.MuiTypography-root {
    letter-spacing: normal
}

.theme--light .Heading_heading__b0gwg.MuiTypography-root {
    color: var(--fx-black-900, #111)
}

.theme--dark .Heading_heading__b0gwg.MuiTypography-root {
    color: var(--fx-white, #fff)
}

.Heading_heading_h1__28mts.MuiTypography-root {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
    text-transform: none
}

@media only screen and (max-width:576px) {
    .Heading_heading_h1__28mts.MuiTypography-root {
        font-size: 16px
    }
}

.Heading_heading_h2__28mts.MuiTypography-root {
    font-family: var(--font-family, "Suisse Int'l", sans-serif);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase
}

@media only screen and (min-width:577px) and (max-width:768px) {
    .Heading_heading_h2__28mts.MuiTypography-root {
        font-size: 20px;
        line-height: 32px
    }
}

@media only screen and (min-width:769px) and (max-width:1200px) {
    .Heading_heading_h2__28mts.MuiTypography-root {
        font-size: 20px;
        line-height: 32px
    }
}

@media only screen and (min-width:992px) {
    .Heading_heading_h2__28mts.MuiTypography-root {
        font-size: 20px;
        line-height: 32px
    }
}

.Heading_heading_h3__28mts.MuiTypography-root {
    font-family: var(--font-family, "Suisse Int'l", sans-serif);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6
}

.Dropdown_dropdownWrapper__lvq8b {
    z-index: 100000000
}

.Dropdown_dropdown__c9cti {
    padding: 16px
}

@media only screen and (max-width:576px) {
    .Dropdown_dropdown__c9cti {
        padding: 12px
    }
}

.Dropdown_dropdown__c9cti .MuiList-root {
    align-items: normal;
    display: flex;
    flex-direction: column;
    gap: 0;
    gap: 8px;
    justify-content: normal;
    outline: none;
    padding: 0
}

.Dropdown_dropdown__c9cti .MuiPaper-root {
    box-shadow: unset
}

.theme--light .Dropdown_dropdown__c9cti {
    background: var(--fx-white, #fff)
}

.theme--dark .Dropdown_dropdown__c9cti {
    background: var(--fx-black-700, #1d1d1d)
}

.Dropdown_dropdown_isMobile__ud0k3 {
    display: none
}

.Dropdown_dropdown_isMobileVisible__vhg4e {
    display: block
}

.Drawer_drawer__paper__phgmm {
    border-radius: 10px 10px 0 0
}

.Drawer_drawer__paper__phgmm.MuiDrawer-paper {
    box-shadow: none
}

.theme--light .Drawer_drawer__paper__phgmm.MuiDrawer-paper {
    background-color: var(--fx-white, #fff);
    color: var(--fx-black-600, #262626)
}

.theme--dark .Drawer_drawer__paper__phgmm.MuiDrawer-paper {
    background-color: var(--fx-black-780, #181818);
    color: var(--fx-gray-200, #efefef)
}

.Drawer_drawer__paper__content__je2v7 {
    padding: 0 16px
}

.Drawer_modal__title__46wcs {
    padding: 16px 16px 0
}

.Drawer_modal__noTitle__5x2wc {
    padding-top: 16px
}

.Drawer_modal__footer__5ky4n {
    padding: 0 16px 16px
}

.Drawer_modal__noFooter__yvurx {
    padding-bottom: 16px
}

.PasswordValidationDropdown_dropdownContainer__48x3s {
    padding: 8px 16px
}

.PasswordValidationDropdown_dropdownContainer__48x3s.MuiPaper-root {
    border-radius: 10px
}

.theme--light .PasswordValidationDropdown_dropdownContainer__48x3s {
    background-color: var(--fx-black-300, #3d3c3c);
    color: var(--fx-gray-200, #efefef)
}

.theme--dark .PasswordValidationDropdown_dropdownContainer__48x3s {
    background-color: var(--fx-gray-100, #f8f8f8);
    color: var(--fx-black-600, #262626)
}

.PasswordValidationDropdown_dropdownContainer_isMobile__7qunw.MuiPaper-root {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 10px 12px 0 10px
}

.PasswordValidationDropdown_validationList__l38zp {
    align-items: inherit;
    display: flex;
    flex-direction: column;
    gap: 0;
    gap: 4px;
    justify-content: inherit
}

.PasswordValidationDropdown_validationItem__l37ak {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    gap: 0;
    gap: 8px;
    justify-content: flex-start;
    line-height: 1.33
}

@media only screen and (max-width:576px) {
    .PasswordValidationDropdown_validationItem__l37ak {
        font-size: 12px
    }
}

.theme--light .PasswordValidationDropdown_validationItem_isMobile__uimng {
    color: var(--fx-gray-800, #7c7c7c)
}

.theme--dark .PasswordValidationDropdown_validationItem_isMobile__uimng {
    color: var(--fx-gray-700, #898989)
}

.PasswordValidationDropdown_validationItem__icon__9bu5n {
    color: var(--fx-gray-500, #b8b8b8)
}

.PasswordValidationDropdown_validationItem__icon_success__hrgp9 {
    color: var(--fx-green-500, #25a750)
}

.ModalsFormWrapper_form__lso87 {
    display: grid;
    width: inherit
}

.InputPassword_switchers__saixj {
    align-items: inherit;
    display: flex;
    flex-direction: row;
    gap: 0;
    gap: 8px;
    justify-content: inherit
}

.theme--light .InputPassword_switchers_hasValue__wion6 {
    color: var(--fx-gray-800, #7c7c7c)
}

.theme--dark .InputPassword_switchers_hasValue__wion6 {
    color: var(--fx-gray-700, #898989)
}

.InputPassword_switchers_disabled__u7xwi .InputPassword_switchers__icon__imu7d {
    cursor: not-allowed
}

.InputPassword_switchers__saixj:not(.InputPassword_switchers_disabled__u7xwi) .InputPassword_switchers__icon__imu7d {
    cursor: pointer
}

.theme--light .InputPassword_switchers__saixj:not(.InputPassword_switchers_disabled__u7xwi) .InputPassword_switchers__icon__imu7d:hover {
    color: var(--fx-gray-800, #7c7c7c)
}

.theme--dark .InputPassword_switchers__saixj:not(.InputPassword_switchers_disabled__u7xwi) .InputPassword_switchers__icon__imu7d:hover {
    color: var(--fx-gray-700, #898989)
}

.InputPassword_switchers__icon_small__7rz9m {
    font-size: 16px
}

.Modal_modal__3ci3b {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: var(--font-family, "Suisse Int'l", sans-serif);
    gap: 0;
    justify-content: center
}

.theme--dark .Modal_modal__3ci3b .MuiModal-backdrop,
.theme--light .Modal_modal__3ci3b .MuiModal-backdrop {
    background-color: #000000b3
}

.Modal_modal__wrapper__3g5o4 {
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
    max-width: 400px;
    padding: 16px 20px 30px 24px;
    position: relative;
    width: 100%
}

@media only screen and (max-width:576px) {
    .Modal_modal__wrapper__3g5o4 {
        width: 95%
    }
}

.theme--light .Modal_modal__wrapper__3g5o4 {
    background-color: var(--fx-white, #fff);
    color: var(--fx-black-400, #323232)
}

.theme--dark .Modal_modal__wrapper__3g5o4 {
    background-color: var(--fx-black-800, #171717);
    color: var(--fx-gray-300, #e0e0e0)
}

.Modal_modal__wrapper__3g5o4:focus,
.Modal_modal__wrapper__3g5o4:focus-visible,
.Modal_modal__wrapper__3g5o4:focus-within {
    outline: none
}

.Modal_modal__message__e1jkz {
    border-radius: 0;
    border-start-end-radius: 1.6rem;
    border-start-start-radius: 1.6rem;
    font-size: 1.6rem;
    left: 0;
    line-height: 2.4rem;
    padding: 2.4rem 5.2rem;
    position: absolute;
    right: 0;
    top: 0
}

@media only screen and (max-width:576px) {
    .Modal_modal__message__e1jkz {
        padding: 1.2rem 3.2rem
    }
}

.Modal_modal__message__e1jkz+* {
    margin-top: calc(var(--dynamic-height, 0px) - 10px)
}

.Modal_modal__header__mdi23 {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    margin-bottom: 16px
}

.Modal_modal__icon__1a38t {
    color: var(--fx-white, #fff);
    height: 2.2rem;
    left: 2rem;
    position: absolute;
    top: 2.4rem;
    width: 2.2rem
}

[dir=rtl] .Modal_modal__icon__1a38t {
    left: auto;
    right: 2rem
}

@media only screen and (max-width:576px) {
    .Modal_modal__icon__1a38t {
        height: 1.8rem;
        left: 1.2rem;
        top: 1.6rem;
        width: 1.8rem
    }

    [dir=rtl] .Modal_modal__icon__1a38t {
        left: auto;
        right: 1.2rem
    }
}

.Modal_modal__close__vfghf {
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 24px;
    top: 24px;
    z-index: 1
}

.theme--light .Modal_modal__close__vfghf {
    color: var(--fx-gray-500, #b8b8b8)
}

.theme--light .Modal_modal__close__vfghf:focus,
.theme--light .Modal_modal__close__vfghf:focus-visible {
    color: var(--fx-gray-700, #898989)
}

.theme--dark .Modal_modal__close__vfghf {
    color: var(--fx-black-200, #484849)
}

.theme--dark .Modal_modal__close__vfghf:focus,
.theme--dark .Modal_modal__close__vfghf:focus-visible {
    color: var(--fx-black-300, #3d3c3c)
}

[dir=rtl] .Modal_modal__close__vfghf {
    left: 24px;
    right: auto
}

.Modal_modal__message_close__djfq0 {
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 24px;
    top: 24px
}

.theme--light .Modal_modal__message_close__djfq0 {
    color: var(--base, #ff008c)
}

.theme--dark .Modal_modal__message_close__djfq0 {
    color: var(--fx-pink-400, #fb297c)
}

[dir=rtl] .Modal_modal__message_close__djfq0 {
    left: 24px;
    right: auto
}

.Modal_modal__body__19z0j,
.Modal_modal__footer__ll60x {
    align-items: inherit;
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    gap: 0;
    justify-content: inherit;
    max-height: 100%;
    width: 100%
}

.Modal_modal__body__19z0j>div,
.Modal_modal__footer__ll60x>div {
    width: 100%
}

.Modal_modal__content__e3kc5 {
    max-height: calc(100vh - 120px)
}

@media only screen and (max-width:576px) {
    .Modal_modal__wrapper__3g5o4 {
        box-sizing: border-box;
        max-height: calc(100vh - 24px)
    }
}

.TextInputField_fullWidth__bzqtt {
    width: 100%
}

.TextInputField_hidden__x7sf5.MuiFormControl-root {
    height: 0;
    margin-bottom: 0;
    opacity: 0;
    visibility: hidden
}

.ModalWithDrawer_selectWithDrawer__tgdd4.MuiModal-root.MuiDrawer-root {
    max-height: calc(100% - 65px);
    z-index: 999999
}

.ModalWithDrawer_selectWithDrawer_noLayout__o9wiz.MuiModal-root.MuiDrawer-root {
    max-height: 100%
}

.ModalWithDrawer_selectWithDrawer__backdrop__eqcwo {
    height: 100%;
    width: 100%
}

.ModalWithDrawer_selectWithDrawer__backdrop__eqcwo.MuiBackdrop-root {
    position: relative
}

.ModalWithDrawer_selectWithDrawer__paper_isSearchable__xwwvy.MuiDrawer-paper {
    padding: 0 16px 16px
}

.ModalWithDrawer_selectWithDrawer__paper__slz0v.MuiDrawer-paper {
    box-sizing: border-box;
    padding: 12px 8px 16px 16px;
    position: absolute
}

.ModalWithDrawer_selectWithDrawer__paper__slz0v.MuiDrawer-paper .MuiMenuItem-root {
    align-items: inherit;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-family: var(--font-family, "Suisse Int'l", sans-serif);
    font-size: 14px;
    font-weight: 400;
    gap: 0;
    justify-content: space-between;
    max-height: 300px;
    min-block-size: -moz-max-content;
    min-block-size: max-content;
    padding: 12px 8px
}

.theme--light .ModalWithDrawer_selectWithDrawer__paper__slz0v.MuiDrawer-paper .MuiMenuItem-root {
    background-color: var(--fx-white, #fff)
}

.theme--dark .ModalWithDrawer_selectWithDrawer__paper__slz0v.MuiDrawer-paper .MuiMenuItem-root {
    background-color: var(--fx-black-780, #181818)
}

.theme--light .ModalWithDrawer_selectWithDrawer__paper__slz0v.MuiDrawer-paper .MuiMenuItem-root {
    border-bottom: 1px solid var(--fx-gray-200, #efefef);
    color: var(--fx-black-600, #262626)
}

.theme--dark .ModalWithDrawer_selectWithDrawer__paper__slz0v.MuiDrawer-paper .MuiMenuItem-root {
    border-bottom: 1px solid var(--fx-black-600, #262626);
    color: var(--fx-gray-200, #efefef)
}

.ModalWithDrawer_selectWithDrawer__paper__slz0v.MuiDrawer-paper .MuiMenuItem-root.Mui-selected {
    font-weight: 500
}

.ModalWithDrawer_selectWithDrawer__paper__slz0v.MuiDrawer-paper .MuiMenuItem-root>div:first-child {
    margin-right: 8px;
    width: 100%
}

.ModalWithDrawer_selectWithDrawer__paper__slz0v.MuiDrawer-paper .MuiListSubheader-root {
    padding: 6px 0
}

.ModalWithDrawer_selectWithDrawer__checkIcon__oy53a {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0;
    height: auto;
    justify-content: center;
    margin-left: 16px;
    width: 20px
}

.ModalWithDrawer_selectWithDrawer__activeCheckIcon__gdhmr {
    color: var(--base, #ff008c);
    font-size: 20px
}

.theme--light .ModalWithDrawer_selectWithDrawer__endListAdornment__vrue6.MuiListSubheader-root {
    background-color: var(--fx-white, #fff);
    color: var(--fx-black-400, #323232)
}

.theme--dark .ModalWithDrawer_selectWithDrawer__endListAdornment__vrue6.MuiListSubheader-root {
    background-color: var(--fx-black-780, #181818);
    color: var(--fx-gray-300, #e0e0e0)
}

.ModalWithDrawer_drawer__content__us9u7 {
    padding: 0 4px
}

.ModalWithDrawer_listSubHeader__5w9b2.MuiListSubheader-root.MuiListSubheader-gutters.MuiListSubheader-sticky {
    padding-top: 6px
}

.theme--light .ModalWithDrawer_listSubHeader__5w9b2.MuiListSubheader-root.MuiListSubheader-gutters.MuiListSubheader-sticky {
    background-color: var(--fx-white, #fff)
}

.theme--dark .ModalWithDrawer_listSubHeader__5w9b2.MuiListSubheader-root.MuiListSubheader-gutters.MuiListSubheader-sticky {
    background-color: var(--fx-black-780, #181818)
}

.ModalWithDrawer_searchableInput__iconDelete__tr1us {
    height: 20px;
    width: 20px
}

.theme--light .ModalWithDrawer_searchableInput__iconSearch__mnkai {
    color: var(--fx-gray-500, #b8b8b8)
}

.theme--dark .ModalWithDrawer_searchableInput__iconSearch__mnkai {
    color: var(--fx-black-200, #484849)
}

.theme--light .ModalWithDrawer_searchableInput__iconSearchActive__oyo55 {
    color: var(--fx-black-600, #262626)
}

.theme--dark .ModalWithDrawer_searchableInput__iconSearchActive__oyo55 {
    color: var(--fx-gray-200, #efefef)
}

.ModalWithDrawer_drawerRoot__mnvy1.MuiModal-root.MuiDrawer-root {
    max-height: calc(100% - 65px);
    z-index: 999999
}

.ModalWithDrawer_drawerRoot_noLayout__pglxr.MuiModal-root.MuiDrawer-root {
    max-height: 100%
}

.ModalWithDrawer_drawerRoot_noLayout__pglxr .MuiPaper-root.MuiDrawer-paper {
    max-height: calc(100dvh - 65px)
}

.ModalWithDrawer_drawer__backdrop__disx4 {
    height: 100%;
    width: 100%
}

.ModalWithDrawer_drawer__backdrop__disx4.MuiBackdrop-root {
    position: relative
}

.ModalWithDrawer_drawer__paper__95ivt.MuiDrawer-paper {
    box-shadow: none;
    box-sizing: border-box;
    height: auto;
    max-height: calc(100dvh - 130px);
    position: absolute
}

.theme--light .ModalWithDrawer_drawer__paper__95ivt .MuiListSubheader-root {
    background-color: var(--fx-white, #fff)
}

.theme--dark .ModalWithDrawer_drawer__paper__95ivt .MuiListSubheader-root {
    background-color: var(--fx-black-780, #181818)
}

.Container_container__aew04 {
    padding: 16px 24px
}

/*# sourceMappingURL=6090.1ebbc8357cc46bda.css.map*/